.chart{
    flex: 4;
    color: gray;
    box-shadow: 2px 2px 5px 0px rgb(118 108 108 / 64%);
    -webkit-box-shadow: 2px 2px 5px 0px rgb(118 108 108 / 64%);
    -moz-box-shadow: 2px 2px 5px 0px rgb(118 108 108 / 64%);
    padding: 10px;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        color: rgb(150, 146, 146);
    }
}