.table{
    .cellWrapper{
        display: flex;
        align-items: center;


        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
    }

    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            background-color: rgba(17, 150, 17, 0.5);
            color:green;
        }

        &.Pending{
            background-color: rgba(120, 161, 37, 0.3);
            color: rgb(219, 161, 14);
        }
    }
}